:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  padding: 20px;
  text-align: center;
}

article {
  grid-area: content;
  background-color: #20bf6b;
  padding: 20px;
}

aside {
  grid-area: sidebar;
  background-color: #45aaf2;
  height: calc(100vh - 170px);
  overflow-y: auto;
}

aside ul li {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid º#fff;
  font-size: 24px;
}

aside ul li:hover {
  background-color: #1e7ec2;
  cursor: pointer;
}

footer {
  padding: 20px;
  grid-area: footer;
  background-color: #fd9644;
  text-align: center;
}

.compability_error {
  text-align: center;
}

/* Buttons */
button {
  padding: 1rem;
}

/* Home */

.audio_data {
  display: grid;
  text-align: center;
  grid-template-areas:
    "file_name current_time export_audio"
    "play_audio play_audio play_audio";
}

.audio_data .file_name {
  grid-area: "file_name";
}

.play_audio {
  text-align: center;
  padding: 10px;
}

.record_button {
  text-align: center;
}

.content {
  display: grid;
  grid-template-areas: "effects effects list_audio";
  height: calc(100vh - 500px);
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  margin-top: 10px;
}

.content .effects {
  grid-area: "effects";
  border: 1px solid red;
  padding: 10px;
}

.content .list_audio {
  grid-area: "list_audio";
  border: 1px solid red;
  padding: 10px;
}

.record_audios ul {
  list-style: none;
}

.record_audios ul li {
  border: 1px solid red;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.audio_recorded_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 300px;
}

.audio_recorded_item .record_title {
  grid-area: "title";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio_recorded_item .record_play_button {
  grid-area: "playButton";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio_recorded_item .record_waveform {
  grid-area: "waveform";
  grid-column: 1 / span 2;
  grid-row: 2;
}
