:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  padding: 20px;
  text-align: center;
}

article {
  grid-area: content;
  background-color: #20bf6b;
  padding: 20px;
}

aside {
  grid-area: sidebar;
  background-color: #45aaf2;
  height: calc(100vh - 170px);
  overflow-y: auto;
}

aside ul li {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid º#fff;
  font-size: 24px;
  text-align: center;
}

aside ul li:hover {
  background-color: #1e7ec2;
  cursor: pointer;
}

footer {
  padding: 20px;
  grid-area: footer;
  background-color: #fd9644;
  text-align: center;
}

.compability_error {
  text-align: center;
}

/* Buttons */
button {
  padding: 0.3rem;
}

/* Home */

.audio_data {
  display: grid;
  text-align: center;
  grid-template-areas:
    "file_name current_time export_audio"
    "play_audio play_audio play_audio";
}

.audio_data .file_name {
  grid-area: "file_name";
}

.play_audio {
  text-align: center;
  padding: 10px;
}

.record_button {
  text-align: center;
}

.content {
  display: grid;
  grid-template-areas: "effects effects list_audio";
  height: calc(100vh - 500px);
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  margin-top: 10px;
}

.content .effects {
  grid-area: "effects";
  padding: 10px;
}

.content .list_audio {
  grid-area: "list_audio";
  padding: 10px;
}

.record_audios ul {
  list-style: none;
}

.record_audios ul li {
  margin: 10px 0 10px 0;
  /* padding: 5px; */
}

.audio_recorded_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* height: 300px; */
}

.audio_recorded_item .record_title {
  grid-area: "title";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio_recorded_item .record_play_button {
  grid-area: "playButton";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio_recorded_item .record_waveform {
  grid-area: "waveform";
  grid-column: 1 / span 2;
  grid-row: 2;
}

/* Pedal */
.pedal {
  width: 270px;
  height: 360px;
  border-radius: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  font-family: "Questrial", sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 3px 5px 2px 0px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 10px;
}

.effect_distortion {
  background: rgb(168, 119, 27);
}

.knobs {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  padding-left: 13px;
  padding-right: 13px;
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.knob-wrap {
  width: 70px;
  float: left;
  overflow: hidden;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.led {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
}

.led:before {
  display: block;
  content: "";
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #aa0000;
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.pedal.on .led:before {
  background: #ff0000;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 200, 200, 0.7);
}

.pedal-base {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  height: 220px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 5%
  );
  padding: 10px;
  padding-top: 20px;
  position: relative;
}

.pedal-base small {
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: right;
  padding-right: 20px;
}

.pedal-base .base-click {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 10px;
  margin: 0 auto;
  height: 130px;
  width: 245px;
  border-radius: 10px;
  background: #333333;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  cursor: pointer;
  content: "";
}
